<form>

  <div class="form-group">
    <label for="exampleInputPassword1">用户</label>
     <input type="text" class="form-control" name="name" id="nameInput" placeholder="用户名字3到6个英文字母">
  </div>
  <div class="form-group">
            <label for="passwordInput">密码</label>
            <input type="password" class="form-control" name="password" id="passwordInput" placeholder="请输入密码">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-success btn-block">登录</button>
</form>